@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(27, 27, 29);
}

body h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: turquoise;
    margin-bottom: 2rem;
    z-index: 10;
}

body span {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    z-index: 10;
}

body span a {
    text-decoration: none;
    color: turquoise;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
}